body{
    background-color: aliceblue;
}
.colorNote{
    margin-top: 10px !important;
    height: 500px;
    width: 400px;
    background-color: ivory;
    margin: auto;
    text-align: center;
}

.task{
    margin-top: 6px !important;
    height: 40px;
    width: 400px;
    background-color: ivory;
    margin: auto;
    text-align: center;
    display: flex;
    padding: 5px;
    position: relative;
}
.textTask{
    margin: auto;
}
.introUser{
    height: 400px;
    width: 300px;
    margin: auto;
}
.counter{
    height: 20px;
    width: 400px;
    background-color: ivory;
    margin: auto;
    text-align: center;
}
.buttonTask{
    position: absolute;
    right: 0;
    margin-right: 12px;
    border: 0;
    background-color: transparent;
}